*{
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(#020001,#332544);
    height: 100vh;
    font-family: system-ui;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    
}

header{
    position: absolute;
    width: 100%;
    z-index: 100;
    display: flex;                 /* logoyu solda kalması için   */
    justify-content: space-between; /* logo ile başlıkları arasındaki boşluk için  */
    align-items: center;    /* logoyu biraz aşağaya kaldırmak için */
    margin: 30px;   /* kenerlardan 30 px olarak boşluk bırak */
}

header .logo{
    font-size: 30px;
    text-transform: uppercase; /* logonun harflei büyük yazmak için */

}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;  /* liste noktarı kaldırmak için */
}

header ul li{
    margin-right: 30px;  
}

/* hover olduğunda bu özellikler uygulansın */
header ul li a{
    padding: 6px 15px;  
    border-radius: 20px; /*padding kenarları eğri yapar */
}

header ul li a:hover, .active{
    background: #9472bd;
    color: rgb(233, 233, 233);
}

.main {
    position: relative;     /*???????*/
    height: 100vh; /*tam ekran yapmak için  kullanılır */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main::after{
    content: '';
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    background: linear-gradient(to top,#020001, transparent);   /* bunun 2 rengin birleşmesi için kullanılıyor */
}
.main img{
    position: absolute;    /*???????*/
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
#moon {
    mix-blend-mode: screen;
    transform: translateY(80px);
}
.nouvil{
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    transform: translateY(-140px);
}
.content {
    color: #fff;
    padding: 30px;
}

.content h2 {
    margin: 20px;
    font-size: 30px;
}
.content p{
    margin: 20px;
}